*.Renviron
.Rproj.user
.Renviron
.Rhistory
.RData
.Ruserdata
private.R
*.html
*.pdf
*.doc
*.docx
*.dcf
# History files
.Rhistory
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
